* {
    font-family: 'Share Tech Mono', monospace;
    background: hsl(176, 40%, 78%) ;


}

#board, .boardInfo {
    max-width: 500px;

   
}

#board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);


}

#start, .boardInfo {
    font-size: 25px; 
     



}

#gameOver {
    display: none;

}

.boardInfo {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;


}

#start {
    background-color: #ff011a;
    border: none;
    color: white;
}

#scoreBoard {
    display: inline-flex;


}

.square {
    aspect-ratio: 1;

}

.emptySquare {
    background-color: #ffffff;
}

.snakeSquare {
    background-color: #44d044;
    border: 1px solid #000;
}

.foodSquare {
    background-color: #ff0101;
    border: 1px solid #000;
}